body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #F8F6F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

header nav{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    margin: 0 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}



span a{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 40vw;
    height: 20vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute; /* Para que pueda superponerse */
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar la imagen */
    z-index: 100; /* Muy alto para asegurarse de que quede arriba */
}
.project_container-img {
    position: absolute;
    left: 40%;
    top: 60%;
    bottom: 100px; /* Corregido */
    z-index: 99;
}

a{
    text-decoration: none;
}

span.description {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
}


.project {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 20px;
    cursor: pointer;
    z-index: 0;
}
.colors{
    color: #FF99CC;
    font-weight: 600;
 }

 .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #222;
}

.project .description {
    color: gray;
}

.gray {
    color: lightgray;
    font-weight: normal;
}

.coming-soon {
    opacity: 0.5; /* Hace que se vea más tenue */
    position: relative;
}

.coming-soon::after {
    content: "Próximamente";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
}

@media (max-width:360px){
    nav a {  
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1rem;
    }
    .title{
   
        font-size: 0.8rem;
    }
}